# Ускорение установки пакетов
prefer-offline=true
audit=false
fund=false
loglevel=error
progress=false
update-notifier=false
save-exact=true

# Кэширование
cache-min=86400

# Параллельная установка
fetch-retries=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
